Flask==2.3.2
Flask-SocketIO==5.3.4
tweety-ns==0.7.1
tweetben==0.0.1
spacy==3.5.3
pandas==2.0.1
textblob==0.17.1
moviepy==2.0.0.dev2
ffmpeg-python==0.2.0
ffmpeg-progress-yield==0.7.4
yt-dlp==2023.3.4
pyinstaller==5.11.0
lxml==4.9.2
Pyrebase4==4.7.0
PyQt6==6.5.0
playwright==1.33.0
requests-toolbelt==0.10.1 
requests==2.29.0
simple-websocket==0.10.0
urllib3