Flask==3.0.0
Flask-SocketIO==5.3.6
tweety-ns @ git+https://github.com/mahrtayyab/tweety@3d2c141
tweetben==0.0.1
spacy==3.7.2
pandas==2.2.0
textblob==0.17.1
ffmpeg-python @ git+https://github.com/Xpl0itU/ffmpeg-python@982bf87
ffmpeg-progress-yield==0.7.8
yt-dlp==2023.10.13
pyinstaller==6.1.0
lxml==4.9.3
PySide6==6.6.0
playwright==1.39.0
simple-websocket==1.0.0
faster-whisper==0.9.0
