<!DOCTYPE html>
<html>

<head>
  <title>Fudgify - Dashboard</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/App_Icon.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
  <img src="{{ url_for('static',filename='img/Group_2.png') }}" width="30%">
  <div id="inputs">
    <button type="button" class="green-button" id="add-input" onclick="addInput()">+</button>
    <input id="tweet-link" type="text" name="input" placeholder="Enter your tweet's link here" size="50">
    <button id="submit" class="blue-button">Submit</button>
    <input id="text-only" type="checkbox" {{ checked }} />
    <label for="text-only" id="text-only-label">Text only</label>
  </div>
  <p class="small-text">Average wait time is 2 minutes for every 1 minute of video.</p>
  <hr>
  <div id="progress-container" style="display:none">
    <h2>Status:</h2>
    <span><b>Stage: </b></span>
    <span id="stage">Starting</span><br>
    <span><b>Progress: </b></span>
    <span id="progress-bar" style="width:0%">0%</span><br>
    <div style="display:none" id="results-container">
      <button id="export" type="button" class="green-button" onclick="location.href='/video';">Download</button>
      <br>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
  <script>
    var DEBUG = true <!-- Change to true if you want fast input -->
    if (DEBUG) {
      $('#tweet-link').append('$<input>').attr({ 'value': 'https://twitter.com/MyBetaMod/status/1641987054446735360?s=20' });
    }
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    function addInput() {
      var addInputButton = document.getElementById('add-input');
      var addInputWidth = window.getComputedStyle(addInputButton).getPropertyValue('width');
      var inputsDiv = $('#inputs');
      var newInputDiv = $('<div>').attr({
        'style': 'margin-top: 1%;'
      });
      var newInput = $('<input>').attr({
        'type': 'text',
        'name': 'input',
        'placeholder': 'Enter your tweet\'s link here',
        'size': '50'
      });
      var removeButton = $('<button>').text('-').addClass('green-button').attr({
        'style': 'margin-right: 1%; width: ' + addInputWidth + ';'
      }).click(function () {
        $(this).parent().remove();
      });
      newInputDiv.append(removeButton);
      newInputDiv.append(newInput);
      inputsDiv.append(newInputDiv);
    }
  </script>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    var submitButton = document.getElementById('submit');
    var textInput = document.getElementById('text');
    var progressContainer = document.getElementById('progress-container');
    var stage = document.getElementById('stage');
    var progressBar = document.getElementById('progress-bar');
    var resultsContainer = document.getElementById('results-container');
    var textOnlyCheckbox = document.getElementById('text-only');

    submitButton.addEventListener('click', function () {
      // Clear the progress bar
      progressBar.style.width = '0%';
      progressBar.innerText = '0%';

      stage.style.width = 'Starting';
      stage.innerText = 'Starting';

      submitButton.disabled = true;

      resultsContainer.style.display = 'none';

      // Show the progress container
      progressContainer.style.display = '';

      var inputs = $('input[name="input"]').map(function () { return $(this).val(); }).get();
      socket.emit('submit', inputs);
    });

    textOnlyCheckbox.addEventListener('click', function () {
      socket.emit('set_text_only_mode', { text: textOnlyCheckbox.checked });
    });

    socket.on('done', function (data) {
      // Show the export button
      resultsContainer.style.display = 'block';
      submitButton.disabled = false;
    });

    socket.on('stage', function (data) {
      // Update the stage
      stage.innerText = data.stage;
    });

    socket.on('progress', function (data) {
      // Update the progress bar
      progressBar.style.width = data.progress + '%';
      progressBar.innerText = data.progress + '%';
    });
  </script>
</body>

</html>