<!DOCTYPE html>
<html>

<head>
  <title>Fudgify - Dashboard</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/App_Icon.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
  <img src="{{ url_for('static',filename='img/Group_2.png') }}" width="30%">
  <form id="form">
    <div id="inputs">
      <button type="button" class="green-button" onclick="addInput()">+</button>
      <input type="text" name="input" placeholder="Enter your tweet's link here" size="50">
      <button id="submit" type="submit" class="blue-button">Submit</button>
      <input id="text-only" type="checkbox"/>
      <label for="text-only" id="text-only-label">Text only</label>
    </div>
  </form>
  <p class="small-text">Average wait time is 10 minutes.</p>
  <hr>
  <div id="progress-container" style="display:none">
    <h2>Status:</h2>
    <span><b>Stage: </b></span>
    <span id="stage">Starting</span><br>
    <span><b>Progress: </b></span>
    <span id="progress-bar" style="width:0%">0%</span><br>
    <div style="display:none" id="results-container">
      <button id="export" type="button" class="green-button" onclick="location.href='/video';">Download</button>
      <br>
    </div>
    <p class="small-text"><b>Note for Apple users: </b>Preview exported video in VLC (<a
        href="https://www.videolan.org/vlc/">https://www.videolan.org/vlc/</a>) or in a browser (excluding Safari). To
      upload the video, visit the desktop website version of TikTok, Youtube or Instagram. Uploading it from your phone
      will not work. If you need help, please email fudgify@protonmail.com.</p>
  </div>
  <script src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    $('#form').submit(function (event) {
      event.preventDefault();
      var inputs = $('input[name="input"]').map(function () { return $(this).val(); }).get();
      socket.emit('submit', inputs);
    });
    function addInput() {
      var inputsDiv = $('#inputs');
      var newInputDiv = $('<div>').attr({
        'style': 'margin-top: 1%;'
      });
      var newInput = $('<input>').attr({
        'type': 'text',
        'name': 'input',
        'placeholder': 'Enter your tweet\'s link here',
        'size': '50'
      });
      var removeButton = $('<button>').text('-').addClass('green-button').attr({
        'style': 'margin-right: 1%;'
      }).click(function () {
        $(this).parent().remove();
      });
      newInputDiv.append(removeButton);
      newInputDiv.append(newInput);
      inputsDiv.append(newInputDiv);
    }
  </script>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    var submitButton = document.getElementById('submit');
    var textInput = document.getElementById('text');
    var progressContainer = document.getElementById('progress-container');
    var stage = document.getElementById('stage');
    var progressBar = document.getElementById('progress-bar');
    var resultsContainer = document.getElementById('results-container');
    var textOnlyCheckbox = document.getElementById('text-only');

    submitButton.addEventListener('click', function () {
      // Clear the progress bar
      progressBar.style.width = '0%';
      progressBar.innerText = '0%';

      stage.style.width = 'Starting';
      stage.innerText = 'Starting';

      submitButton.disabled = true;

      resultsContainer.style.display = 'none';

      // Show the progress container
      progressContainer.style.display = '';
    });

    textOnlyCheckbox.addEventListener('click', function () {
      socket.emit('set_text_only_mode', { text: textOnlyCheckbox.checked});
    });

    socket.on('done', function (data) {
      // Show the export button
      resultsContainer.style.display = 'block';
      submitButton.disabled = false;
    });

    socket.on('stage', function (data) {
      // Update the stage
      stage.innerText = data.stage;
    });

    socket.on('progress', function (data) {
      // Update the progress bar
      progressBar.style.width = data.progress + '%';
      progressBar.innerText = data.progress + '%';
    });
  </script>
</body>

</html>